.content {
  flex: 1 0 auto;
  padding: 10px;
}

.AppHomePage {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#book-now {
  margin-top: 2em;
}

#bcrumb ol{
  background-color: transparent; 
  padding: .75rem 0;
}

#seats-info {
  margin-top: 2em;
}

.inner-symbol {
  font-size: 18px;
  display: inline-block;
  position: relative;
  top: -18px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
