.instructions {
    margin-top: 2em;
}

.map {
    width: 100%;
    height: 600px;
}

#message {
    margin-top: 1em;
    height: 180px;
}

#email-form {
    margin-bottom: 2em;
}

#email-form .submit-button {
    float: right;
}

.heading {
    margin-bottom: 2em;
}