.AppPages {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.AppContent {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.bgColor button {
    background-color: #2A3132;
}

.bgColor button:hover {
    background-color: #2A3132;
}

.lightColor button {
    /* background-color: #336B87; */
}

.searchBar button {
    /* border-style: none; */
}
