html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow:hidden
}
.AppPages {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vh;
}
.AppContent {
    flex: 1;
    padding: var(--space) var(--space) 0;
    overflow: auto;
    max-height: 70%;
}
.AppContent::-webkit-scrollbar{
    width: 0em;
}

